# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Databases
*.db
*.sqlite3

# Vector databases
chroma/
chroma_db/
vectordb/

# Data folders
data/

# Logs
logs/
*.log
access_audit_log.csv

# OS files
.DS_Store
Thumbs.db
