
# -------------------------
# Virtual Environment
# -------------------------
venv/
.env

# -------------------------
# Python Cache Files
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Chroma Vector Database
# -------------------------
chroma_db/

# -------------------------
# OS / Editor Files
# -------------------------
.history/
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log
*.sqbpro
users.db